<footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:15px;">
            <p>YMMQ Group © 2017, All Rights Reserved
                <br>
                <span>Web Design By: Muhammad Yasir Arfat</span></p>
            <p><a href="#" target="_blank">Linkedin <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
        </div>
</footer>
